<h2 class = "text-center"> Supplier portal</h2>

<h3 class = "text-center"> Welcome. {{supplier_name}} </h3>

<div class = "container">

      <div class = "col-50">

        <div class = "row">

          <div class="col-sm-3">

            <label for = "Area"> GEO: </label>

          </div>

          <div class="col-sm-9">

            <select id="location" name="country">

                <option value="australia">Australia</option>

                <option value="north america">North America</option>

                <option value="south america">SOuth America</option>

                <option value="africa">Africa</option>

                <option value="asia">Asia</option>

                <option value="europe">Europe</option>

                <option value="antarctica">Antarctica</option>

            </select>

          </div>

       </div>

                </div>

 

                <div class = "col-50">

                                <div class = "notif_window1">

                                                <div class="header" id="myHeader">

                                                                <h2>My Header</h2>

                                                </div>

                                                <div class = "content">
                                                    {{#each message}}
                                                                <div id = "{{this.msg_id}}" class = "row" style = "padding-bottom: 20px">
                                                                  <div class = "row" >
                                                                                <article class = "notif" style = "padding-left:20px">
                                                                                  {{this.msg_title}}<br>
                                                                                  {{this.msg_body}}
                                                                                </article>
                                                                  </div>

                                                                  <div class = "row">
                                                                    <input type = "button" id = "mark_seen" value = "Mark as seen" class = "btn-primary btn-block" style = "width:10%" onclick = 'hide_save("{{this.msg_id}}")' />
                                                                  </div>

                                                                </div>
                                                    {{/each}}
                                                                
                                                </div>

                                </div>

                </div>

</div>

<script type = "text/javascript", src = "js/mark_as_seen.js"></script>